* {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}

img {
    width: 100%;
}
#head_of {
    display: grid;
    width: 300px;
    background-color:blue;
    color: white;
    row-gap: 25px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
div {
    display: grid;
    place-items: center;
    padding: 15px;
}
#head_of :hover{
    width: 200px;
    background-color: darkmagenta;
    transition: all 1s ease-in-out;
}
#animate {
    font-size: 20px;
    background-color: darkmagenta;
    color: white;

}

@keyframes Happening {
    0%{
        font-size: 15px;
        background-color: aqua;
    } 
    50% {
        font-size: 30px;
        background-color: darksalmon;
    }

    100% {
        font-size: 25px;
        background-color: blueviolet;
    }    

    }
#animate :hover {
    animation-name: Happening;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    
}
#By {
    background-image: url(d.o.t.jpg);
    color: white;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
    color: white;
    
}
#first_main {
    width: 300px;
    color: white;
    row-gap: 10px;
}
div>p {
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    
}
div>h3 {
    color: white;
    font-size: 25px;
    padding-bottom: 30px;
    text-align: center;

}
div>img {
    height: 350px;
    padding-bottom: 30px;
    
}
div>header {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    background-color: blue;
}
header>p {
    font-size: .8em;
    margin-bottom: 20px;
}
.song {
    align-items: center;
    justify-items: center;
}


@media only screen and (min-width: 1000px) {
    grid-template-columns: auto 1fr auto;
    
    
}